/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1{
	color: white !important;
}

table {
	border: 1px solid black;
}

td {
	width:200px;
 color: #666666;
 font-size: 16pt;
}

a{
 background: none repeat scroll 0 0 #2ECC71;
    border: medium none;
    border-bottom-right-radius: 0.125em;
    border-top-right-radius: 0.125em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    float: left;
    font-size: 1.125em;
    height: 3.125em;
    margin: 0;
    padding: 0;
    width: 7.063em;
    text-align: center;

}

.main_container {

	width: 800px;
	height: 800px;
	border-radius: 18px 18px 18px 18px !important;

    text-align: left;
    margin-left: auto;
    margin-right: auto;
  	background-color: rgba(20, 30, 30, 0.40) !important;
  	background-image: linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 95%);
    border-style: groove !important;
    border-width: 1px !important;
    box-shadow: 0 0 3px 3px #6BB247 !important;
    color: #000000 !important;
}

.sub_container {
	paddin-left: 40px;
	width: 400px;
	height: 300px;
	border-radius: 18px 18px 18px 18px !important;

    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
  	background-image: linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 95%);
    border-color: #ccc !important;
    
    border-style: groove !important;
    border-width: 1px !important;

    color: white !important;
   

}

.details_area{
	height: 180px;
	width: 700px;
	resize: none


}

 .new_company input[type="submit"] {
    background: none repeat scroll 0 0 #2ECC71;
    border: medium none;
    border-bottom-right-radius: 0.125em;
    border-top-right-radius: 0.125em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    float: left;
    font-size: 1.125em;
    height: 3.125em;
    margin: 0;
    padding: 0;
    width: 12.063em;
}

.edit_company input[type="submit"] {
    background: none repeat scroll 0 0 #2ECC71;
    border: medium none;
    border-bottom-right-radius: 0.125em;
    border-top-right-radius: 0.125em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    float: left;
    font-size: 1.125em;
    height: 3.125em;
    margin: 0;
    padding: 0;
    width: 12.063em;
}


.new_company input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    border-bottom-left-radius: 0.125em;
    border-top-left-radius: 0.125em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    color: #666666;
    float: left;
    font-size: 1.125em;
    font-weight: 400;
    height: 2.25em;
    margin: 0;
    padding: 0.438em 1.125em;
    width: 14.188em;
}

.edit_company input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    border-bottom-left-radius: 0.125em;
    border-top-left-radius: 0.125em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    color: #666666;
    float: left;
    font-size: 1.125em;
    font-weight: 400;
    height: 2.25em;
    margin: 0;
    padding: 0.438em 1.125em;
    width: 14.188em;
}
